{% extends 'heritage.html.twig' %}

{% block tittreDuDocument %}
    Nouveau Titre
{% endblock %}

{% block corpDuDocument %}
    {{ parent() }}
    <ol>
        <li>Nouveau contenu</li>
        <li>J'adore l'heritage</li>
    </ol>
{% endblock %}

